<section class="form-block">
  <div class="wrapper">
    <div class="form-body">
      <div class="text-block">
        <h2 class="medium-title">
          Хватит думать!<br />
          <span style="color: #b99150; display: inline-block; padding-top: 10px">
            Доставим заказ за 30 <br />
            минут</span>
        </h2>
        <p class="form-description">
          Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления
          заказа. Если мы опоздаем даже на 1 минуту - вы получаете весь заказ
          бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим
          сервисом и сделаем всё, чтобы наш клиент был доволен и не остался
          голодный!
        </p>
      </div>

      <form class="input-block" [formGroup]="orderForm" (ngSubmit)="submit()">
        <div class="input">
          <input formControlName="name" type="text" placeholder="Ваше имя" (keydown)="onKeyDown($event)" />
          <label class="error-block" *ngIf="nameHasError">
            <small>Пожалуйста, заполните это поле.</small>
          </label>
        </div>

        <div class="input">
          <input formControlName="address" type="text" placeholder="Адрес доставки" />
          <label class="error-block" *ngIf="addressHasError">
            <small>Пожалуйста, заполните это поле.</small>
          </label>
        </div>

        <div class="input">
          <input formControlName="tel" type="tel" placeholder="Телефон" />
          <label class="error-block" *ngIf="telHasError">
            <small>Пожалуйста, заполните это поле.</small>
          </label>
        </div>

        <button type="submit" class="btn submit-btn">Оформить заказ</button>
      </form>

    </div>
    <img class="pizza-image" src="../../../assets/pizzzzza.png" alt="" />
  </div>
</section>
<app-success-submit *ngIf="showSuccess"></app-success-submit>